#template .CodeMirror div {
	margin-right: 0px;
	height: auto;
}

#template > div > div.CodeMirror {margin-right: 40px;}
.CodeMirror .fullscreen {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	margin: 0;
	padding: 0;
	border: 0px solid #BBBBBB;
	opacity: 1;
	background: white; /* needed for elegant theme. breaks night theme */
}
